apiVersion: v1
kind: ConfigMap
metadata:
  name: hcconfigmap-v2
data:
  check_status.sh: |
    #!/bin/sh

    current_date=$(date +"%Y-%m-%d")
    filename_prefix="status_check_output"
    output_log="${filename_prefix}_${current_date}.log"

    (
        echo "#############################################################################################################" 
        echo $current_date
        echo "#############################################################################################################" 


        echo "#############################################################################################################" 
        echo "Cluster Information" 
        echo "#############################################################################################################" 
        oc get cluster-info
        
        echo "#############################################################################################################" 
        echo "checking node status" 
        echo "#############################################################################################################" 
        oc get nodes
  
        echo "#############################################################################################################" 
        echo "clusteroperator status"
        echo "#############################################################################################################" 
        oc get co 

        echo "#############################################################################################################" 
        echo "checking failed or dergared pods status" 
        echo "#############################################################################################################" 
        oc get pods -A | egrep -v 'Running|Completed'

        echo "#############################################################################################################" 
        echo "checking node top memory and utilization" 
        echo "#############################################################################################################" 
        oc adm top node
        
        echo "#############################################################################################################" 
        echo "checking top pods cpu and memory util"
        echo "#############################################################################################################" 
        oc adm top pod -A
    ) 
